.skin-black-light .main-header > .logo
{
    border-right:none;
}

.skin-black-light .main-header > .navbar > .sidebar-toggle
{
    border-left:1px solid #eee;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: '微软雅黑';
}
.locker
{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:9999;
    background:#d2d6de;
    display:none;
}

.pagination
{
    margin:0px;
}